## Red Wine Analysis

In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('Topic6-wineQualityReds.csv')

In [15]:
df.head()

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,2,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,3,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,4,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,5,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [9]:
# What datatype is this numpy array
type(df)

pandas.core.frame.DataFrame

In [10]:
# How many data points and features does this data contain
df.shape

(1599, 12)

In [11]:
# What features are available
df.columns

Index(['fixed.acidity', 'volatile.acidity', 'citric.acid', 'residual.sugar',
       'chlorides', 'free.sulfur.dioxide', 'total.sulfur.dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [16]:
# Find the wine ids as integer
df['Unnamed: 0']

0          1
1          2
2          3
3          4
4          5
        ...
1594    1595
1595    1596
1596    1597
1597    1598
1598    1599
Name: Unnamed: 0, Length: 1599, dtype: int64

In [18]:
# Convert the whole array into integer data type using astype()
df.astype(int)

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
0,1,7,0,0,1,0,11,34,0,3,0,9,5
1,2,7,0,0,2,0,25,67,0,3,0,9,5
2,3,7,0,0,2,0,15,54,0,3,0,9,5
3,4,11,0,0,1,0,17,60,0,3,0,9,6
4,5,7,0,0,1,0,11,34,0,3,0,9,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,1595,6,0,0,2,0,32,44,0,3,0,10,5
1595,1596,5,0,0,2,0,39,51,0,3,0,11,6
1596,1597,6,0,0,2,0,29,40,0,3,0,11,6
1597,1598,5,0,0,2,0,32,44,0,3,0,10,5
1598,1599,6,0,0,3,0,18,42,0,3,0,11,6

In [19]:
# Double the sugar contents of the wines
df['residual.sugar'] = df['residual.sugar'] * 2

In [21]:
df['residual.sugar']

0       3.8
1       5.2
2       4.6
3       3.8
4       3.8
       ...
1594    4.0
1595    4.4
1596    4.6
1597    4.0
1598    7.2
Name: residual.sugar, Length: 1599, dtype: float64

In [22]:
df.head()

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.70,0.00,3.8,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,2,7.8,0.88,0.00,5.2,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,3,7.8,0.76,0.04,4.6,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,4,11.2,0.28,0.56,3.8,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,5,7.4,0.70,0.00,3.8,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [23]:
# Find the combined acidity of the wines
df['combined_acidity'] = df['fixed.acidity'] + df['volatile.acidity'] + df['citric.acid']

In [30]:
# Pick a wine that maximizes alcohol content and quality

slice = df['quality'] == df['quality'].max()
df[slice][df[slice]['alcohol'] == df[slice]['alcohol'].max()] # Max quality

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality,combined_acidity
588,589,5.0,0.42,0.24,4.0,0.060,19.0,50.0,0.9917,3.72,0.74,14.0,8,5.66
1269,1270,5.5,0.49,0.03,3.6,0.044,28.0,87.0,0.9908,3.50,0.82,14.0,8,6.02

In [31]:
# multiple alcohol quality, and select the wine with the highest score
df['alcohol_x_quality'] = df['alcohol'] * df['quality']
df[df['alcohol_x_quality'] == df['alcohol_x_quality'].max()]

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality,combined_acidity,alcohol_x_quality
588,589,5.0,0.42,0.24,4.0,0.060,19.0,50.0,0.9917,3.72,0.74,14.0,8,5.66,112.0
1269,1270,5.5,0.49,0.03,3.6,0.044,28.0,87.0,0.9908,3.50,0.82,14.0,8,6.02,112.0

In [32]:
# Find the maximum acidity of wines
df[df['combined_acidity'] == df['combined_acidity'].max()]

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality,combined_acidity,alcohol_x_quality
442,443,15.6,0.685,0.76,7.4,0.1,6.0,43.0,1.0032,2.95,0.68,11.2,7,17.045,78.4

In [33]:
# Find the minimum acidity of wines
df[df['combined_acidity'] == df['combined_acidity'].min()]

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality,combined_acidity,alcohol_x_quality
45,46,4.6,0.52,0.15,4.2,0.054,8.0,65.0,0.9934,3.9,0.56,13.1,4,5.27,52.4

In [35]:
# Find the average value of each feature
mean_list = [np.mean(df[x]) for x in df.columns]
mean_list

[800.0,
 8.31963727329581,
 0.5278205128205128,
 0.2709756097560976,
 5.0776110068793,
 0.08746654158849279,
 15.874921826141339,
 46.46779237023139,
 0.9967466791744841,
 3.3111131957473416,
 0.6581488430268917,
 10.422983114446529,
 5.6360225140712945,
 9.11843339587242,
 59.15370022930998]

In [36]:
# Find the std of each feature
std_list = [np.std(df[x]) for x in df.columns]
std_list

[461.5914499497003,
 1.7405518001102729,
 0.17900370424469014,
 0.19474021445233364,
 2.818974224976099,
 0.04705058260331571,
 10.45688561493072,
 32.88503665178374,
 0.0018867437008323914,
 0.15433818141060165,
 0.16945396724179546,
 1.0653343003437483,
 0.8073168769639513,
 1.832135258766236,
 12.82582352295384]

In [38]:
# Find the range of chloride content
df['chlorides'].max() - df['chlorides'].min()

0.599

In [39]:
# Find the best quality wines which have quality over 7
# Select the rows in the data that have this quality
df[df['quality'] > 7]

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality,combined_acidity,alcohol_x_quality
267,268,7.9,0.35,0.46,7.2,0.078,15.0,37.0,0.99730,3.35,0.86,12.8,8,8.71,102.4
278,279,10.3,0.32,0.45,12.8,0.073,5.0,13.0,0.99760,3.23,0.82,12.6,8,11.07,100.8
390,391,5.6,0.85,0.05,2.8,0.045,12.0,88.0,0.99240,3.56,0.82,12.9,8,6.50,103.2
440,441,12.6,0.31,0.72,4.4,0.072,6.0,29.0,0.99870,2.88,0.82,9.8,8,13.63,78.4
455,456,11.3,0.62,0.67,10.4,0.086,6.0,19.0,0.99880,3.22,0.69,13.4,8,12.59,107.2
481,482,9.4,0.30,0.56,5.6,0.080,6.0,17.0,0.99640,3.15,0.92,11.7,8,10.26,93.6
495,496,10.7,0.35,0.53,5.2,0.070,5.0,16.0,0.99720,3.15,0.65,11.0,8,11.58,88.0
498,499,10.7,0.35,0.53,5.2,0.070,5.0,16.0,0.99720,3.15,0.65,11.0,8,11.58,88.0
588,589,5.0,0.42,0.24,4.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8,5.66,112.0
828,829,7.8,0.57,0.09,4.6,0.065,34.0,45.0,0.99417,3.46,0.74,12.7,8,8.46,101.6
1061,1062,9.1,0.40,0.50,3.6,0.071,7.0,16.0,0.99462,3.21,0.69,12.5,8,10.00,100.0
1090,1091,10.0,0.26,0.54,3.8,0.083,42.0,74.0,0.99451,2.98,0.63,11.8,8,10.80,94.4
1120,1121,7.9,0.54,0.34,5.0,0.076,8.0,17.0,0.99235,3.20,0.72,13.1,8,8.78,104.8
1202,1203,8.6,0.42,0.39,3.6,0.068,6.0,12.0,0.99516,3.35,0.69,11.7,8,9.41,93.6
1269,1270,5.5,0.49,0.03,3.6,0.044,28.0,87.0,0.99080,3.50,0.82,14.0,8,6.02,112.0
1403,1404,7.2,0.33,0.33,3.4,0.061,3.0,13.0,0.99600,3.23,1.10,10.0,8,7.86,80.0
1449,1450,7.2,0.38,0.31,4.0,0.056,15.0,29.0,0.99472,3.23,0.76,11.3,8,7.89,90.4
1549,1550,7.4,0.36,0.30,3.6,0.074,17.0,24.0,0.99419,3.24,0.70,11.4,8,8.06,91.2

In [40]:
# Find the wines with a lot of alcohol (more than 10) and high quality
df[(df['alcohol'] > 10) & (df['quality'] > 7)]

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality,combined_acidity,alcohol_x_quality
267,268,7.9,0.35,0.46,7.2,0.078,15.0,37.0,0.99730,3.35,0.86,12.8,8,8.71,102.4
278,279,10.3,0.32,0.45,12.8,0.073,5.0,13.0,0.99760,3.23,0.82,12.6,8,11.07,100.8
390,391,5.6,0.85,0.05,2.8,0.045,12.0,88.0,0.99240,3.56,0.82,12.9,8,6.50,103.2
455,456,11.3,0.62,0.67,10.4,0.086,6.0,19.0,0.99880,3.22,0.69,13.4,8,12.59,107.2
481,482,9.4,0.30,0.56,5.6,0.080,6.0,17.0,0.99640,3.15,0.92,11.7,8,10.26,93.6
495,496,10.7,0.35,0.53,5.2,0.070,5.0,16.0,0.99720,3.15,0.65,11.0,8,11.58,88.0
498,499,10.7,0.35,0.53,5.2,0.070,5.0,16.0,0.99720,3.15,0.65,11.0,8,11.58,88.0
588,589,5.0,0.42,0.24,4.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8,5.66,112.0
828,829,7.8,0.57,0.09,4.6,0.065,34.0,45.0,0.99417,3.46,0.74,12.7,8,8.46,101.6
1061,1062,9.1,0.40,0.50,3.6,0.071,7.0,16.0,0.99462,3.21,0.69,12.5,8,10.00,100.0
1090,1091,10.0,0.26,0.54,3.8,0.083,42.0,74.0,0.99451,2.98,0.63,11.8,8,10.80,94.4
1120,1121,7.9,0.54,0.34,5.0,0.076,8.0,17.0,0.99235,3.20,0.72,13.1,8,8.78,104.8
1202,1203,8.6,0.42,0.39,3.6,0.068,6.0,12.0,0.99516,3.35,0.69,11.7,8,9.41,93.6
1269,1270,5.5,0.49,0.03,3.6,0.044,28.0,87.0,0.99080,3.50,0.82,14.0,8,6.02,112.0
1449,1450,7.2,0.38,0.31,4.0,0.056,15.0,29.0,0.99472,3.23,0.76,11.3,8,7.89,90.4
1549,1550,7.4,0.36,0.30,3.6,0.074,17.0,24.0,0.99419,3.24,0.70,11.4,8,8.06,91.2

## Intro to Pandas